section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 24px;
        text-align: center;
        font-size: 32px;
        color: #8257e6;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        li {
            width: 43%;
            height: 140px;
            background-color: #fff;
            padding: 16px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:hover {
                background-color: #fafafa;
            }

            div {
                p {
                    font-size: 14px;
                    color: #444;
                    margin-top: 8px;
                }
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;

                &:hover {
                    color: #87498d;
                }
            }
        }
    }
}